body {
    background-image: linear-gradient(75deg,#2f2f2f,#6f6f6f);
    text-align: center;
    color:beige;
}
.game {
    display: none;
}
.game button {
    margin-top: 12px;
}
#ujra {
    display: none;
}
